src/main/mule/training4-flights-test-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3b28b247-4dc3-4f04-a21f-c9d7fc0ff56e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c328fb53-6cb0-4883-af4d-70d8fc6b9be1" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="training4-flights-test-wsFlow" doc:id="0aa7d025-1467-48b6-8e0a-68603219d993" >
		<http:listener doc:name="Listener" doc:id="d502b8c5-db6d-4c1f-8317-0387f25d0a3b" config-ref="HTTP_Listener_config" path="/flights"/>
		<db:select doc:name="Select" doc:id="44777eff-bbab-4c51-8826-d2e0a7210271" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * from american]]></db:sql>
		</db:select>
		<set-variable value="Hello There" doc:name="Set Variable" doc:id="7e4a97f6-1542-433a-8dd6-3c62b8bda205" variableName="name"/>
		<ee:transform doc:name="Transform Message" doc:id="02702ae2-2753-4915-a572-ec7107c4678e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="17ef5739-7b9b-4d83-ba8e-4bcb6aebab36" message="#[payload]"/>
	</flow>
</mule>
